<li>
  <b>other Name:</b> 
  <%=h f.other_name %> 
</li>
<li>
<b>Quantity:</b> 
  <%=h f.quantity %>
</li>
<li>
<b>price:</b> 
  <%=h f.price %>
</li>

<li>
<b>other description:</b> 
  <%=h f.description %>
</li>